<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
    <body class="grey-bg">
        <%- include('nav.ejs')%>
        <div class="detail-bg">

            <h4><%= post.title %></h4>

            <div class="detail-info">
                <p><%=post.username%></p>
                <br>
                <p>조회 <%=post.viewCount%></p>
                <!-- <p>| <%=post.createdAt%></p> -->
                <%
                    // post.createdAt가 ISO 문자열 형태로 저장되어 있다면,
                    // Date 객체로 변환 후 원하는 형식으로 포맷팅합니다.
                    const d = new Date(post.createdAt);
                    const year = d.getFullYear();
                    const month = (d.getMonth() + 1).toString().padStart(2, '0');
                    const day = d.getDate().toString().padStart(2, '0');
                    const hour = d.getHours().toString().padStart(2, '0');
                    const minute = d.getMinutes().toString().padStart(2, '0');
                    const formattedDate = `${year}-${month}-${day} ${hour}:${minute}`;
                %>
                <p>| <%= formattedDate %></p>
            </div>
            

            <hr style="margin-top: 10px">
            <p><%= post.content %></p>


            <hr style="margin-top: 50px">
            <h4>댓글 <%=comments.length%>개</h4>
            <div>
            <%for(let i = 0; i<comments.length; i++){%>
                <p><strong><%=comments[i].writerName%></strong>  <%= comments[i].content%></p>
            <%}%>
            </div>

            <form action="/comment?parent=<%=post._id%>" method="POST">
              <input name="content">
              <!-- <input name="parentId" value="<%= post._id %>" style="display: none"> -->
              <button type="submit">댓글작성</button>
            </form>
        </div>

        


      </body>
</html>