<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 - Seol9u</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('nav.ejs')%>

    <div class="container">
        <div class="list-container">
            <h5>전체 글</h5>
        
            <div class="white-bg">
                <% for(let i = 0; i < posts.length; i++){ %>
                    <div class="list-box">
                        <div class="list-header">
                            <h4>
                                <a href="/post/detail/<%=posts[i]._id %>">
                                    <%=posts[i].title%>
                                </a>
                                
                                <%if(posts[i].commentCount){%>
                                    <span class="badge bg-info">[<%= posts[i].commentCount %>]</span>
                                <%}%>
                            </h4>
                            
                            <% if (user && (posts[i].user?.toString() === user._id?.toString())) { %>
                                <div class="action-buttons">
                                    <a href="/post/edit/<%= posts[i]._id %>">수정</a>
                                    <span class="delete" data-id="<%= posts[i]._id %>">삭제</span>
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="meta-info">
                            <span><%=posts[i].username%></span>
                            <span>조회 <%= posts[i].viewCount %></span>
                            <span>좋아요 <%= posts[i].like || 0 %></span>
                        </div>
                    </div>
                <% } %>
            </div>
            
            <% if (totalPages > 1) { %>
                <div class="pagination">
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                            <strong><%= i %></strong>
                        <% } else { %>
                            <a href="/post/list/<%= i %>"><%= i %></a>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>

    <script>
        document.querySelectorAll('.delete').forEach((button)=>{
            button.addEventListener('click', (e)=>{
                if(confirm('정말 삭제하시겠습니까?')) {
                    fetch('/post/api/posts?postid=' + e.currentTarget.dataset.id, {
                        method : 'DELETE',
                    })
                    .then((r)=>r.text())
                    .then((r)=>{
                        e.target.parentElement.parentElement.style.display = 'none'
                    })
                }
            })
        })
    </script>
</body>
</html>