<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>

    <link href="/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="grey-bg">
    <%- include('nav.ejs')%>

    <input class="search">
    <button class="search-send">검색</button>
    <script>
        document.querySelector('.search-send').addEventListener('click', function(){
            let inputData = document.querySelector('.search').value
            location.href = '/search?val=' + inputData
        })


    </script>

    <div class="white-bg">
        <%  for(let i = 0; i<posts.length; i++){ %>

        <div class="list-box">
            <h4>
                <a href="/post/detail/<%=posts[i]._id %>">
                    <%=posts[i].title%>
                </a> 
                <!-- <%if(posts[i].commentCount){%>
                <span>  [<%=posts[i].commentCount%>] </span>
                <%}%>
                <span> 조회 <%=posts[i].viewCount%> </span>
                 -->
                <%if(posts[i].commentCount){%>

                 <span>[<%= posts[i].commentCount %>]</span>
                 <%}%>

                 <% if (user && (posts[i].user?.toString() === user._id?.toString() || user.username === 'admin')) { %>
                    <!-- 수정/삭제 버튼 표시 -->
                    <a href="/post/edit/<%= posts[i]._id %>">✏️</a>
                    <span class="delete" data-id="<%= posts[i]._id %>">🗑️</span>
                  <% } %>
                  
                  
                  
                  
            </h4>
            <!-- <p><%=posts[i].content%></p> -->
             
                <div>
                    <span style="font-size: 15px; color:grey"> <%=posts[i].username%></span>
                    <span style="font-size: 15px; color:grey"> 조회 <%= posts[i].viewCount %></span>
                </div>
                
            
            
        </div>

        <% } %>
    </div> 
    <div class="pagination" style="margin: 20px 0;">
        <% for (let i = 1; i <= totalPages; i++) { %>
          <% if (i === currentPage) { %>
            <strong style="margin: 0 5px;"><%= i %></strong>
          <% } else { %>
            <a href="/post/list/<%= i %>" style="margin: 0 5px;"><%= i %></a>
          <% } %>
        <% } %>
      </div>
      
      

    <script>
        
        document.querySelectorAll('.delete').forEach((button)=>{
            button.addEventListener('click', (e)=>{
                fetch('/post/api/posts?postid=' + e.currentTarget.dataset.id, {
                    method : 'DELETE',
                })
                .then((r)=>r.text())
                .then((r)=>{
                    e.target.parentElement.parentElement.style.display = 'none'
                })
            })
        })
        
        

    </script>
    
</body>
</html>